#temp{
  width: 250px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position:absolute;
  top: 150px;
  left: 500px;
  background-color: #c9a8cc;
  gap: 60px;
  border-radius: 20px;
}
#head{
  text-align: center;
  position: relative;
  top: 60px;
  right: 20px;
}


#button1 button{
  width: 170px;
  height: 130px;
  border-radius:50%;
  border: none;
  border: 2px solid white;

}
#button1 button{
  font-size: 30px;
}
 
  
#button2 button{
  width: 80px;
  height: 70px;
  border-radius:50%;
  font-size: 40px;
  text-align: center;
  background-color: #a15a91;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

#button2 button:hover{
  background-color: #dab4d1;
  cursor: pointer;
}
  
#cold {
  background-color:#1b5ba9;
  color: white;
  width: 170px;
  height: 130px;
  border-radius:50%;
  border: none;
  border: 2px solid white;
}

#hot {
  background-color: #4d4b4c;
  color: white;
  width: 170px;
  height: 130px;
  border-radius:50%;
  border: none;
  border: 2px solid white;
}

#vhot {
 background-color:#f85700;
  color: white;
  width: 170px;
  height: 130px;
  border-radius:50%;
  border: none;
  border: 2px solid white;
}

